/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.cbxwpbkmarktrig {

    padding: 5px;
    border-bottom: 0px solid #fff !important;
    display: block;
    text-decoration: none;
    background-size: 15px 15px;
    /*float: left;*/
    display: inline-block;
}

.cbxwpbkmarktrig:before {
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -399px -14px;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;

}

.cbxwpbkmarktrig:focus, .cbxwpbkmarktrig:active {
    outline: none;
}

.cbxwpbkmarkwrap {
    position: relative;
    width: 300px;
    max-width: 300px;
    font-size: 14px;
    line-height: 18px;
}

.cbxwpbkmarkwrap-download {
    clear: both;
}

.cbxwpbkmarklistwrap {
    display: none;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
}

.cbxwpbkmarkloading {
    display: none;
    text-align: center;
}

.cbxwpbkmarkaddnewcatselect {
    float: left;
    display: inline-block;

}

.cbxwpbkmarkaddnewcatcreate {
    float: right;
    display: inline-block;
}

.cbxwpbkmarkaddnewwrap {
    display: none;
}

.cbxwpbkmarklist {
    width: 100%;
}

.cbxwpbkmarkselwrap {
    display: none;
}

.cbxwpbkmarkaddnewcat {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.cbxwpbkmarkwrap, .entry-content a.cbxwpbkmarkaddnewcattrig, .entry-summary a.cbxwpbkmarkaddnewcattrig, .page-content a.cbxwpbkmarkaddnewcattrig, .comment-content a.cbxwpbkmarkaddnewcattrig, .pingback .comment-body > a.cbxwpbkmarkaddnewcattrig {
    text-decoration: none;
    border-bottom: none !important;
}

input[type="text"].cbxwpbkmarkaddnewcatinput {
    outline: 1px solid #ccc;
    padding: 0px;
    background: #fff;
    margin-bottom: 5px;
    padding: 5px 0;
    width: 100%;
}

.button-addto {

}

.lbjs-searchbar-wrapper .lbjs-searchbar, input.lbjs-searchbar {

    margin-left: 6px;
    border: 1px solid #fff;
    background: #fff url("../img/small-search-icon.png") 4px no-repeat;
    font-size: 12px;
    padding-left: 25px;

    margin-top: 10px;

    height: 25px;
    border: 1px solid #ccc;

}

.lbjs-searchbar-wrapper .lbjs-searchbar:focus, input.lbjs-searchbar:focus {
    margin-left: 6px;

    background: #fff url("../img/small-search-icon.png") left no-repeat;
    font-size: 12px;
    padding-left: 25px;

    margin-top: 10px;

    height: 25px;
    border: 1px solid #ccc;
}

.addto-head {

    height: 37px;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #fff;
}

.itemicon {
    float: right;
}

.lbjs-item {
    padding: 5px;
}

select.cbxwpbkmarkaddnewcatselect {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 10pt;
    padding: 10px;
    margin-bottom: 10px;
}

a.cbxwpbkmarkaddnewcatcreate, a:hover.cbxwpbkmarkaddnewcatcreate {
    border-bottom: 1px solid #fff !important;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3399FF;
    color: #fff;
}

.cbx-bookmark-error {
    color: red;
}

.cbx-onclick-loading {

    float: right;
    text-align: left;

    display: none;
}

.cbx-onclick-loading img {

    text-align: left;

    /* display:none;*/
}

.cbxlbjs {
    margin: 0px;
    /*width: 170px;*/
    padding: 0px;
    /*
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #FCFCFC;
    */
    height: 250px;
}

.cbxlbjs .cbxlbjs-list {
    margin: 0px;
    overflow: auto;
    padding: 0px;
    list-style: none;
}

.cbxlbjs .cbxlbjs-list .cbxlbjs-item {
    margin: 0px;
    padding: 5px;
    list-style: none;
}

.cbxlbjs .cbxlbjs-list .cbxlbjs-item:not([disabled]) {
    cursor: pointer;
}

.cbxlbjs .cbxlbjs-list .cbxlbjs-item:hover:not([disabled]) {
    background: rgba(112, 147, 216, 0.9);
}

.cbxlbjs .cbxlbjs-list .cbxlbjs-item[selected] {
    background: rgba(112, 147, 216, 0.5);
}

.cbxlbjs .cbxlbjs-list .cbxlbjs-item[disabled] {
    color: #999;
    cursor: default;
}

.cbxlbjs .cbxlbjs-searchbar-wrapper {
    margin: 0px;
    margin-right: 12px;
}

.cbxlbjs .cbxlbjs-searchbar {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #ccc;
}

.cbxlbjs-item:before {
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -165px -162px;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
}

.cbxlbjs-item[data-incat="1"]:before {
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -109px -367px;;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
}

.cbxlbjs-item[data-privacy="1"]:after,
.cbxlbjs-item-widget[data-privacy="1"]:after {
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -431px -357px;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
    float: right;
}

.cbxlbjs-item[data-privacy="0"]:after,
.cbxlbjs-item-widget[data-privacy="0"]:after {
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -93px -202px;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
    float: right;
}

.cbxwpbookmark-widget-list {

}

.cbxbmmostlisting ul.product_list_widget {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cbxbmmostlisting ul.product_list_widget li {
    padding: 4px 0;
    margin: 0;
    list-style: none;
}

.cbxbmmostlisting ul.product_list_widget li a {
    display: block;
    /*font-weight: 700;*/
    border-bottom: 0px;
}

.cbxbmmostlisting ul.product_list_widget li img {
    float: right;
    margin-left: 4px;
    width: 32px;
    height: auto;
    box-shadow: none;
}

.cbxwpbookmark-widget-list i {
    /*float: right;*/
}

.cbxbookmark-post-delete span, .cbxbookmark-cat-save span {
    display: none;
    background: url("../img/ajax-loader-small.gif") left top no-repeat;
    width: 16px;
    height: 16px;
}

.cbxwpbookmark-button-holder {
    float: right;
}

.my-privacy {
    float: left;
}

.my-privacy[data-cbxbookmarkprivacy="1"]:before {
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -431px -357px;

    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
    float: right;
}

.cbxbookmark-category-list, .cbxwpbookmark, .cbxbookmark-mycat-panel, .cbxbookmark-mypost-panel {
    list-style-type: none;
}

.cbxbookmark-mycat-panel {

}

.cbxbookmark-mycat-panel li {
    margin-bottom: 10px;
}

.cbxbookmark-mycat-editbox {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 18px;

}

.cbxbookmark-mycat-editbox .cbxbmedit-catname {
    font-size: 14px;
    line-height: 18px;
    padding: 4px 12px;
    border-bottom: 1px solid #ccc;

}

.cbxbookmark-mycat-editbox .cbxbmedit-privacy {
    font-size: 14px;
    line-height: 18px;
    padding: 0px 12px;
}

.cbxbookmark-mycat-editbox .cbxbookmark-cat-save {
    font-size: 14px;
    line-height: 18px;
    border-bottom: 0px !important;
}

.cbxbookmark-mycat-editbox .cbxbookmark-btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    /*border-bottom-color: #b3b3b3;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;

}

.cbxbookmark-mycat-editbox .cbxbookmark-cat-close {
    border-bottom: 0px !important;
    font-size: 14px;
    line-height: 18px;

}

.cbxbookmark-mycat-editbox .cbxbookmark-cat-save a {
    color: #fff;
}

/****busy icon***/
.cbxwpbm_ajax_icon {
    display: none;
}

.cbxwpbookmark-mylist-sc-more {
    margin-bottom: 5px;
}

.cbxbookmark-more {
    font-size: 14px;
    margin-bottom: 20px;
}

.cbxlbjs-item-widget_dropdown {
    margin-bottom: 10px;
}
